{% spaceless %}
<div class="container">
	

  <section class="row row--first">

    <div class="col--primary">

    {{content}}
	{% if post_footer %}
	<footer class="article__footer">{{post_footer}}</footer>
	{% endif %}

    </div>

	<div class="col--secondary">
		
	    {% if find_your_fsr %}

		<aside class="fsr-search">
			
			{% include 'fsr-widget.twig' %}
		
		</aside>

		{% endif %}
		
		{% for post in jobs %}

			{#% include 'job-details.twig' %#}
			<h3>Job Overview</h3>
			<div>
				{{job_map}}
			</div>
			<div class="job-detail">
				<div><strong>Closes::</strong></div>
				<div>{{job_closes}}</div>
			</div>
			<div class="job-detail">
				<div><strong>Location:</strong></div>
				<div>{{job_location}}</div>
			</div>
			<div class="job-detail">
				<div><strong>Job Title:</strong></div>
				<div>{{job_title}}</div>
			</div>
			<div class="job-detail">
				<div><strong>Contact:</strong></div>
				<a href="mailto:{{job_contact}}"</a>
			</div>
			<a class="btn btn--primary" href="{{application_link}}">Apply</a>

		{% endfor %}

    </div>

</div>

{% endspaceless %}