{% spaceless %}
<main id="site-main">
<header class="page-header{% if job_logo %} page-header--has-image{% endif %}">

    {% if breadcrumbs %}
      
      {{breadcrumbs}}

    {% endif %}
    
    <div class="page-header__primary">

      <h1 class="title">
        {{post_title}}
      </h1>

      {% if byline %}
        <p class="byline">{{byline}}</p>
      {% endif %}

      {% if deck %}

        <p class="subhead">
          {{deck}}
        </p>

      {% endif %}
      {% if hero.district_url %}

        <p class="subhead">
          <a href="{{hero.district_url}}">{{hero.district_text}}</a>
        </p>

      {% endif %}	  
    </div>
    

    <aside class="page-header__secondary">
      {# JOB IMAGE #}
      
        {% if job_logo %}
			<img class="job-image" src="{{job_logo}}" alt="Job logo">
		{% endif %}
		

    </aside>

</header>

{% endspaceless %}