{% spaceless %}
		<div>
			{{job_map}}
		</div>		
		<div class="gray_bg">
			<h3>Job Overview</h3>
			<div class="job-detail">
				<div class="job_icon">
					<i class="far fa-2x fa-calendar-alt"></i>
				</div>
				<div class="job_text">
					<span><strong>Closes:</strong></span>
					<span>{{job_closes}}</span>
				</div
			</div>
			<div class="job-detail">
				<div class="job_icon">
					<i class="far fa-2x fa-map"></i>
				</div>
				<div class="job_text">
					<span><strong>Location:</strong></span>
					<span>{{job_location}}</span>
				</div>	
			</div>
			<div class="job-detail">
				<div class="job_icon">
					<i class="far fa-2x fa-address-card"></i>
				</div>
				<div class="job_text">
					<span><strong>Job Title:</strong></span>
					<span>{{job_title}}</span>
				</div>	
			</div>
			<div class="job-detail">
				<div class="job_icon">
					<i class="far fa-2x fa-user"></i>
				</div>
				<div class="job_text">
					<span><strong>Contact:</strong></span>
					<span><a href="mailto:{{job_contact}}"</a></span>
				</div>	
			</div>
			<div class="apply">
				<a class="btn btn--primary" href="{{application_link}}">Apply</a>
			</div>	
		</div>

{% endspaceless %}