{% spaceless %}

<div class="container">

	<section class="home__col">

	    <h2>News</h2>

	    {% for post in news %}

		    <article class="article--teaser">

		    {% if post.kicker %}
		      <p class="kicker"><span class="label">{{post.kicker}}</span></p>
		    {% endif %}

		      <h3 class="title teaser__title"><a href="{{guid}}">{{post.post_title}}</a></h3>
		      <p class="lesser">{{post.post_date}}</p>
		    </article>

	    {% endfor %}
	    

	    <a class="" href="{{link}}">View all News</a>

	</section>

	<section class="home__col">

	
	    <h2>News</h2>

		<article class="article--teaser">

		 {% for event in events %}
		
	      <p class="kicker">
	      	<span class="label">{{event.training_or_meeting}}</span>
	      </p>
	      <h3 class="title teaser__title">
	      	<a href="event.link">{{event.title}}</a>
	      </h3>
	      <p>{{event.date}}</p>

	     {% endfor %}

	    </article>
	    

	    <a class="" href="{{events_link}}">View all News</a>

	</section>

</div>

{% endspaceless %}